<section class="section" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Галерея зображень</h2>
    <h3 class="gallery__subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          class="gallery__image"
        />
      </li>
      <li class="gallery__item">
        <img
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          class="gallery__image"
        />
      </li>
      <li class="gallery__item">
        <img
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          class="gallery__image"
        />
      </li>
      <li class="gallery__item">
        <img
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          class="gallery__image"
        />
      </li>
    </ul>
  </div>
</section>
