<header class="page-header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo-link">
      <img
        class="header-logo"
        src="/img/company-logo.svg"
        alt="Company Logo"
        width="84"
        height="36"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#advantages" class="header-nav-link">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a href="#gallery" class="header-nav-link">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="header-nav-link">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a href="#support" class="header-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-item">
          <a href="tel:+380999091122" class="header-contacts-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="header-contacts-item">
          <a href="mailto:hello@ecotote.com" class="header-contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <!-- #region burger-button -->
    <button
      id="mobile-menu-is-open"
      class="burger-btn"
      type="button"
      aria-label="Button open burger menu"
    >
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <button
      id="mobile-menu-close"
      class="mobile-btn-close hidann"
      aria-label="Button close burger menu"
    >
      <svg class="mobile-icon-close" width="32" height="32">
        <use href="/img/icon.svg#icon-close"></use>
      </svg>
    </button>
    <!-- #endregion burger-button -->
  </div>
</header>
<!-- #region mobile menu -->
<div id="mobile-menu" class="mobile-menu">
  <div class="container mobile-menu-container">
    <nav class="mobile-menu-nav">
      <ul id="about-close-mobile-menu" class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a href="#about" class="mobile-nav-link">Про нас</a>
        </li>
        <li class="mobile-nav-item">
          <a
            href="#advantages"
            id="advantages-close-mobile-menu"
            class="mobile-nav-link"
            >Переваги</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            href="#assortment"
            id="assortment-close-mobile-menu"
            class="mobile-nav-link"
            >Асортимент</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            href="#gallery"
            id="gallery-close-mobile-menu"
            class="mobile-nav-link"
            >Галерея</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            href="#feedbacks"
            id="feedbacks-close-mobile-menu"
            class="mobile-nav-link"
            >Відгуки</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            href="#support"
            id="support-close-mobile-menu"
            class="mobile-nav-link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>
    <address class="mobile-contacts">
      <ul class="mobile-contacts-list">
        <li class="mobile-contacts-item">
          <a href="tel:+380999091122" class="mobile-contacts-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="mobile-contacts-item">
          <a href="mailto:hello@ecotote.com" class="mobile-contacts-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
<!-- #endregion mobile menu  -->
